<%=stylesheet_link_tag "login/login_style.css",:media=>"all" %>

<svg viewBox="0 0 3387 1270">
  <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179" />
  <g id="plane">
    <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 " />
    <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 " />
    <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 " />
    <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z" />
    <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 " />
  </g>
  <!-- Define the motion path animation -->
  <animateMotion xlink:href="#plane" dur="5s" repeatCount="indefinite" rotate="auto">
    <mpath xlink:href="#planePath" />
  </animateMotion>
</svg>

<div class="body-wrapper">

  <%= image_tag 'login-image_01.webp', id: "left-items" %>

  <div id="right-items">
    <h2 class="content title">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <div class="field content">
        <%= f.label :name %> <br>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>


      <div class="field content">
        <%= f.label :email %> <br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "" %>
      </div>

      <div class="field content">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field content">
        <%= f.label :password_confirmation %> <br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field content">
        <%= f.label :faculty %><br>
        <%= f.select :faculty, [["スポーツ健康科学部", 1], ["情報理工学部", 2]], prompt: "学部を選択してください" %>
      </div>

      <div class="actions content">
        <%= f.submit "Sign up", class: 'button' %>
      </div>
      <%= render "devise/shared/links" %>

      </div>
    <% end %>

    </div>


