<div class="exam-show-items">
<%= @exam.class_name %>
<%= @exam.class_type %>
<%= @exam.impression %>
<%= @exam.content %>
<%= @exam.teacher_name %>
<%= @exam.examdate %>
<div class= "post-time">
<%= @exam.created_at %>
</div>
</div>


