<%= stylesheet_link_tag "index/show_style.css", :media => "all" %>
<%= stylesheet_link_tag "login/login_style.css", :media => "all" %>

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 1366 630" style="enable-background:new 0 0 1366 630;" xml:space="preserve">
  <style type="text/css">
      .st0, .st2, .st3 {
          fill: hsl(204, 70%, 23%);

          -webkit-animation-name: glow-blue;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-timing-function: ease-in-out;
          -webkit-animation-direction: alternate;

          animation-name: glow-blue;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          animation-direction: alternate;

          -moz-animation: none;
      }

      @-webkit-keyframes glow-blue {
          0% {
              fill: hsl(49, 100%, 57%);
          }
          100% {
              fill: hsl(49, 100%, 100%);
          }
      }

      @keyframes glow-blue {
          0% {
              fill: hsl(49, 100%, 57%);
          }
          100% {
              fill: hsl(49, 100%, 100%);
          }
      }

      .st0 {
          fill: #FFFFFF;
          stroke: #6D6D6D;
          stroke-width: 1.4132;
          stroke-miterlimit: 10;
      }

      .st1 {
          opacity: 0.7;
          fill: #FFFFFF;
          stroke: #6D6D6D;
          stroke-width: 1.4132;
          stroke-miterlimit: 10;
      }

      .st2 {
          fill: #FFE155;
          stroke: #6D6D6D;
          stroke-width: 1.4132;
          stroke-miterlimit: 10;
      }

      .st3 {
          opacity: 0.5;
          fill: #FFCE00;
          stroke: #6D6D6D;
          stroke-width: 1.4132;
          stroke-miterlimit: 10;
      }
  </style>
  <path class="st0" d="M31.8,328.2c0.2,13,5.4,25,15.9,32.9c10.2,7.6,23,10.7,35.6,9.9c22.8-1.5,42.6-16.3,51-37.3
	c4.4-11,5.1-24,0.4-35c-4-9.2-11.7-17-21.7-19.3c-2-0.4-2.6,2.3-0.8,3c11.9,4.6,19.8,15.7,21.2,28.2c1.5,13.6-4,27.4-12.8,37.5
	c-17.2,19.8-50,25.5-71.1,8.3C35.3,344.8,34.4,324.3,40,308c2.8-8.2,8.7-14.3,16-18.6c3.4-2,7-3.6,10.6-5.2
	c3.9-1.7,7.6-3.3,11.3-5.3c1.3-0.7,0.3-2.4-0.9-2.2c-3,0.4-5.9,0.8-8.8,1.7c-3.1,1-6.1,2.1-9,3.4c-5.5,2.4-10.7,5.8-15.1,10
	C34.5,301.1,31.6,315.2,31.8,328.2z"/>
  <path class="st0" d="M97.4,298.7c1.2,3.4,2.7,6.7,4.4,9.9c1.5,2.8,3.3,6.3,6.1,7.9c0.7,0.4,1.4-0.2,1.3-0.9c-0.6-3.1-2.8-6-4.3-8.7
	c-1.7-3.1-3.2-6.4-4.4-9.8c-1.2-3.2-2.2-6.6-3-9.9c-0.4-1.7-0.8-3.3-1.2-5c-0.3-1.3-0.4-2.4-1.4-3.3c-0.1-0.1-0.3-0.1-0.4,0
	c-1.5,2.2-0.4,6.5,0,9C95.1,291.6,96.1,295.2,97.4,298.7z"/>
  <path class="st0" d="M62,319.5c5-5.1,7.6-12.5,10.4-19c1.5-3.5,2.8-7.1,4.1-10.6c1.2-3.3,2.5-6.9,2.4-10.4c0-0.7-0.9-0.9-1.3-0.4
	c-1.9,2.7-2.9,6-4,9c-1.3,3.6-2.8,7.1-4.2,10.6c-2.8,6.6-6.9,13-8.6,20C60.5,319.4,61.4,320,62,319.5z"/>
  <path class="st0" d="M72.7,325.7c2-0.3,2.8-0.1,3.5,1.8c0.4,1,0.8,1.9,1.6,2.7c1.7,1.6,4.2,0.6,5.5-1c1-1.3,1.6-2.9,2.6-4.3
	c2.7-3.4,4.1,2.2,4.4,4c0.1,1,1.5,1.5,2.3,1c4-2.5,7.8-6,9.8-10.4c0.7-1.6-1.3-2.8-2.3-1.4c-2.1,3.1-4.3,5.7-7.2,7.9
	c-0.5-2-1.5-4-3.6-4.7c-3.2-1.1-5.6,1.1-7,3.8c-0.6,1.1-2,4.2-3.1,1.9c-0.5-1-0.7-2.2-1.6-3.1c-0.9-0.9-1.8-1.3-3.1-1.4
	c-1.6-0.1-3.5,1.1-4.9,0.1c-0.6-0.4-1.5,0.2-1.3,1C69,325.6,70.7,325.9,72.7,325.7z"/>
  <path class="st0" d="M64.4,270.4c-1.7,1.7-3,3.8-2.4,6.2c0.7,2.6,4.5,5.3,6.3,2c0.4-0.7,0-1.4-0.6-1.8c-0.7-0.4-1.7-0.9-1.3-2
	c0.4-1.2,1.9-2.2,2.8-2.9c2-1.6,4.1-2.9,6.4-4c4.7-2.3,9.9-3.3,15.2-3.3c5,0,10.1,1.5,14.5,3.8c2.3,1.2,4.2,2.9,5,5.4
	c0.6,1.6,0.1,3.2-0.9,4.4c-0.2,0.3-0.5,0.5-0.7,0.7c-0.1-0.1-0.2-0.2-0.4-0.3c-5.6-3.1-12.6-3.8-18.9-4c-3.4-0.1-6.8,0.2-10.1,0.7
	c-3,0.5-6.2,1.1-8.6,3.1c-0.5,0.5-0.6,1.6,0.3,1.7c2.9,0.3,5.7-0.5,8.5-1c3.1-0.5,6.2-0.7,9.3-0.7c6.4-0.1,12.2,1.6,18.4,2.8
	c0,0,0.1,0.1,0.1,0.1c2.5,1.4,5-1.7,5.8-3.7c1.3-3.1-0.1-6.6-2.1-9c-0.3-0.3-0.5-0.6-0.8-0.9c0,0,0.1-0.1,0.1-0.1
	c3.1-4.7,0.2-10.4-3.8-14.1c2.9-4.5-1.6-9.6-5.7-11.7c0.4-0.3,0.5-0.9,0.1-1.3c-5.5-5.4-13.4-8.8-21.2-8c-3.4,0.4-6.8,1.8-9.3,4.1
	c-2,1.8-5.2,5.5-4.2,8.4c-1.3,1.2-2.4,2.5-3,3.6c-1.6,2.6-2.4,8.2,0.2,10.6c-0.3,0.4-0.5,0.9-0.7,1.3
	C61.3,263.8,62.4,267.8,64.4,270.4z M66.5,250c0.9-1.3,2.3-2.3,3.7-3c1.2-0.6,2.3-0.9,3.1-2.1c0.2-0.4,0.1-1-0.2-1.2
	c-0.8-0.6-1.6-0.8-2.5-0.8c0.5-1,1-2,1.7-2.8c2.2-2.5,5.4-3.7,8.6-4.1c6.1-0.8,11.5,1.9,16.7,4.6c-2.3-0.6-4.7-0.9-7-1.1
	c-3.4-0.2-7.4-0.2-10.2,1.9c-0.8,0.6-0.7,2.1,0.4,2.3c2.5,0.4,4.9-0.2,7.4-0.3c2.8-0.1,5.5,0.3,8.2,0.9c4.4,1,7.8,3.4,8.3,7.7
	c-0.5-0.4-1.1-0.7-1.6-1c-3.4-1.8-7.5-2.3-11.4-2.2c-4,0.1-8.7,0.8-11.8,3.5c-0.5,0.4-0.1,1.3,0.4,1.3c3,0.5,6-0.4,9-0.9
	c3.3-0.5,6.6-0.3,9.8,0.6c3.1,0.9,5.8,2.8,7.6,5.4c1.6,2.3,1.8,4.8,1.9,7.4c-5.1-3.9-12.6-5.3-18.7-5.5c-8.2-0.3-16.4,2.8-23,7.7
	c-0.1,0-0.1,0.1-0.2,0.1c-0.7-3.4-1.5-6.5,2-8.9c1-0.7,2.1-1.1,2.4-2.4c0.2-1-0.9-1.7-1.7-1.7c-1.7,0-3.1,0.7-4.3,1.8
	c0-0.4-0.1-0.9-0.1-1.3C64.8,253.9,65.3,251.8,66.5,250z"/>
  <path class="st1" d="M116.8,176.3c-4.4-8.6-13.5-11.1-21.6-12.3c-3-0.5-6-0.9-8.8-2.1c-0.1-2.7-0.2-5.5-0.3-8.2
	c-0.2-4.6-0.3-9.3-0.4-13.9c5.4-8.6,9.5-17.1,11-27.8c1.6-11.8-1-24.1-2.5-35.8c-1.7-13.1-1.6-28.2-6.7-40.4
	c-0.6-1.5-2.4-1.5-2.9,0.1c-0.2,0.6-0.3,1.2-0.5,1.9c0.2-40.7,1.5-81.4,2.3-122.1c0-0.9-1.3-1-1.4-0.2c-6,52.7-7.7,105.9-7.9,159
	c-0.1,20.2,0.3,40.3,1,60.5c-0.4,0.6-0.8,1.2-1.2,1.8c-4.7,7-8.1,15.1-4.8,23.8c1.6,4.4,4.3,7.1,7.4,8.8c0.8,19.5,2,39.3,5.3,58.4
	c-1.2,0.8-2.4,1.6-3.6,2.4c-2.4,1.6-0.5,5.5,2,4.8c0.9-0.3,1.9-0.6,2.8-0.9c0.7,1.1,2.4,0.4,2.6-0.9c14.5-5.7,28.6-17.4,31.7-34.8
	C121.6,190.8,120.2,183,116.8,176.3z M84.2,74.3c-0.1-4.4-0.1-8.8-0.1-13.2c0.4,3.3,0.9,6.6,1.3,9.7c1.5,11.5,3.4,23.1,3.4,34.8
	c0,6.4-1.4,11.9-3.7,17C84.8,106.5,84.4,90.4,84.2,74.3z M88.8,225.4c0.2-17.7-0.9-35.5-1.8-53.2c10.3,2.2,22.1,1.3,25.8,13.9
	C118.7,205.9,102.3,216.8,88.8,225.4z"/>
  <path class="st0" d="M199.7,421.3c1.3,21,9,41.2,20.9,58.5c2.4,3.5,5.4,7.4,9.8,8.5c4.9,1.2,9.2-1,12.8-4.2
	c7.5-6.5,12.9-15.9,16.8-24.9c4.2-9.6,6.5-19.9,7.7-30.2c1.2-10,1.9-21.3-1.3-31c-1.9-5.9-5.2-10.8-10.3-14.3
	c-4.3-3-10.2-4.5-14.8-1.4c-0.8,0.5-0.2,1.6,0.5,1.7c4.4,1,8.4,1.8,12.1,4.5c4.1,2.9,6.4,7.6,7.7,12.3c2.7,9.6,1.6,20.5,0.3,30.2
	c-1.3,9.9-3.9,19.5-8,28.6c-2,4.4-4.4,8.5-7.2,12.4c-3,4.2-6.6,8.9-11.3,11.1c-5.5,2.5-9.6-4.9-12.1-8.6c-2.9-4.4-5.4-9.1-7.6-14
	c-4.2-9.1-6.9-18.8-8.5-28.6c-1.7-10.2-2.4-21.4,0.7-31.4c1.4-4.5,3.8-8.5,7.3-11.7c3.5-3.1,7.9-4,12-5.8c1.7-0.7,1.8-3.5-0.1-4.1
	c-8.6-3.1-17.4,4.6-21.9,11.4C199.3,399.2,199.1,410.8,199.7,421.3z"/>
  <path class="st0" d="M216.4,376.5c-0.5-1.6-2.6-1.9-3.5-0.5c-1.1,1.9-0.9,4.4-0.8,6.6c0,0.8,0.1,3.4,1.4,3.2
	c0.8-0.1,1.2-0.7,1.5-1.3c0.3,0.5,0.9,1,1.5,1c2.7,0.2,5.1-0.7,7.7-1.4c3.6-0.9,7.2-1.3,11-1.2c7,0.2,12.5,3.6,19.1,4.8
	c1,0.2,2.1-0.8,1.5-1.9c-0.8-1.4-1.9-2.5-3.2-3.5c0.2-0.1,0.4-0.3,0.5-0.6c2.3-5,0.8-10.1-2.5-13.8c0.3,0,0.6-0.1,0.8-0.4
	c3.4-4.9-0.6-11.2-5.3-14.9c0.2-0.1,0.3-0.2,0.3-0.4c-0.4-7-5.5-14.9-13.3-15.1c-3.8-0.1-6.9,1.2-9.4,4.1c-1.8,2.1-2.6,5.1-0.2,7.1
	c0.5,0.4,1.1,0.4,1.6,0c0.8-0.7,1.5-1.5,1.9-2.5c1.5-3.6,4.8-4.2,8.2-3.4c4.3,1.1,7.2,5.9,9.9,9.3c-1.2-0.9-2.5-1.6-3.6-2
	c-7.8-2.9-20.6-1.6-25,6.6c-0.3,0.6,0.1,1.7,0.9,1.6c7-0.8,12.6-5.1,20-3.9c3.3,0.5,6.1,2.5,8.3,4.8c2.2,2.3,2.7,5.4,4,8.1
	c-1.4-1.3-3-2.4-4.7-3.1c-8.3-3.7-19.6-0.9-26.1,5.3c0,0,0,0,0,0c-1-1.1-2.1-1.2-2.5-2.8c-0.3-1.1,0.1-2.1-0.4-3.2
	c-0.1-0.1-0.2-0.2-0.4-0.2c-2.2-0.3-2.8,2.6-2.7,4.3c0.2,2.2,2.3,5.2,4.7,4.9c0.2,0,0.4-0.1,0.6-0.1c0.1,0.1,0.3,0.1,0.5,0.1
	c6-0.5,11.3-3.7,17.4-4.3c7.7-0.8,15.2,4.3,13.9,12.6c0,0.1,0,0.1,0,0.2c-4.1-2.2-9.1-3.1-13.3-3.6c-6.4-0.8-16.2-0.1-20.8,5.1
	C216.5,380.3,217,378.2,216.4,376.5z"/>
  <path class="st0" d="M222.4,406.3c-1.3,7.9-5.5,14.5-7.6,22.1c-0.1,0.3,0.3,0.6,0.5,0.4c0.8-0.5,1.5-1.1,2.1-1.7
	c0.9,1.3,2.4,2,4.1,2.1c2.2,0.2,4.7-0.6,5,2.6c0.1,0.9,0.7,1.2,1.4,1.6c2.6,1.4,5.2-5.2,7.3-2.1c1.7,2.6,1.9,5.5,5.5,6.1
	c0.5,0.1,1.2,0,1.5-0.6c1-2.1,0.8-3.9,0.7-6.2c-0.2-3.4,8.2-3.1,10.4-4.4c0.2-0.1,0.1-0.4-0.1-0.4c0,0,0,0,0,0
	c-2.7-6.9-5.8-13.3-7.5-20.6c-0.9-3.9-1.3-8-1.5-12c-0.2-3.6,0.8-7.9-0.4-11.2c-0.2-0.6-1-0.7-1.3-0.2c-1.7,2.8-1.2,6.8-1.1,10
	c0.1,4.3,0.8,8.5,1.7,12.7c1.5,7.1,4.2,15,8.6,20.9c-2.9-0.5-7.1-0.3-9.3,1c-2.9,1.7-1.6,5.3-2.1,8.1c-2.2-1.5-2.9-5.7-5.6-7
	c-2.2-1.1-4,0.5-5,2.4c-1.1,2-0.6,0.8-1.1-0.8c-0.3-0.8-0.9-1.6-1.6-2c-0.8-0.4-1.7-0.5-2.5-0.4c-2.2,0.5-3.8-0.3-5.6-0.9
	c4.6-5.2,6.6-13,7.7-19.5c1.2-7.5,1.7-18.3-3.4-24.6c-0.5-0.6-1.3-0.1-1.4,0.6c-0.2,3.6,0.7,7.4,1.1,11
	C223.3,397.5,223.1,401.9,222.4,406.3z"/>
  <path class="st1" d="M234.9,169.8c-0.6-2.9-1.1-5.9-1.6-8.8c-0.1-11.5-0.1-23.1-0.1-34.6c0-10.8,0.1-21.5,0.2-32.3
	c0.1-2.4,0.1-4.8,0.1-7.1c0.2-21.9,0.6-43.8,1.2-65.8c0.9-35.9,4.4-72.2,3.5-108.1c0-1.5-2.2-2-2.5-0.4
	c-5.2,34.5-5.4,70.5-6.7,105.4c-1.1,27.8-1.7,55.7-1.9,83.5c-3.3,19.4-3.2,40.2-0.5,59.2c0.2,1.2,0.4,2.4,0.6,3.6
	c0.3,20,0.7,40,1.3,60c-1.5,3.6-3.3,7-5.1,10.5c-8.4,15.7-17.9,31.1-13.9,50.4c1.9,9,6.8,16.8,11.4,24.2c2.4,4,4.8,7.9,7,12.1
	c2.7,5.1,3.7,10.6,5.6,16c0.3,0.9,1.3,1.2,1.9,0.7c0.1,0.5,0.2,1.1,0.3,1.6c0.3,1.4,1.9,0.9,2-0.3c1.1-17-0.4-34-1.1-51
	c-0.7-18-1.3-36-1.9-54.1c-0.1-2.2-0.1-4.5-0.2-6.7c2.9-6.9,4.7-14.1,5.3-21.9C240.6,193.8,237.3,181.4,234.9,169.8z M217.8,290.1
	c-7.9-18.6,2.5-35.4,11-51c0.6,16.5,1.3,33.1,2.2,49.6c0.5,10,0.9,20,1.7,29.9C228.6,308.4,221.3,298.4,217.8,290.1z"/>
  <path class="st0" d="M406.2,390c16.7,12,39.6,11.2,56.7,0.6c18.5-11.5,26.5-34.1,21-54.9c-3.4-13-13.2-21.9-20-33.1
	c-1-1.7-4.2-1.1-3.6,1.1c3.3,10.6,12.3,18.2,16.5,28.4c4.5,10.7,3.9,23.2-0.2,33.9c-7.8,20-31.1,30.1-51.4,26.1
	c-21-4.1-36.1-25.5-36.1-46.2c0-10.6,4.3-20.8,10.7-29.1c3.2-4.2,7.2-7.8,11.5-10.8c4.1-2.9,8.9-4.7,12.8-8c1.3-1.1,0.7-3.3-1.1-3.4
	c-9.8-0.7-19.4,7.5-25.6,14.2c-7.1,7.8-11.8,17.3-13.9,27.6C379.5,356.9,389.7,378.1,406.2,390z"/>
  <path class="st0" d="M418.6,287.9c-0.4-1.3-2.3-2.2-3.2-0.7c-1.5,2.4-1.9,5.2-2.7,7.9c-0.6,2.2-1.6,4.5-0.1,6.5
	c0.3,0.4,0.8,0.5,1.2,0.4c1.2-0.2,2.1-0.9,2.7-1.9c0.5,0.6,1.4,0.9,2.4,0.8c4.4-0.6,8.6-2.3,13-3c4.7-0.7,9.4-0.6,14.1-0.1
	c4.9,0.5,9.6,2.2,14.4,2.8c1.2,0.2,1.9-0.9,1.8-1.9c0.5-6-1-12.5-2-18.4c-0.4-2.5-1.9-3.9-3.7-4.8c0.5-3.4-1.7-7-4.9-8.5
	c-3.2-1.5-7.1-3-10.6-3.1c-4.1-0.1-7.5,0.3-11,1.9c-0.5,0.2-1,1.3-0.8,1.8c0.7,2.3,6.6,1.4,10,1.2c5.3-0.4,12.6,0.4,14.6,5.7
	c-0.6-0.2-1.3-0.3-1.9-0.4c-5.9-1.2-11.8-1.7-17.8-1.4c-3.1,0.1-6.7,0.4-10.2,1.1c0.1-0.5,0.1-0.6,0.1-0.3c0-0.1,0.1-0.3,0.2-0.4
	c0,0,0-0.1,0-0.1c0,0,0.1-0.1,0.1-0.2c0.3-0.4,0.5-0.7,0.7-1.1c0.4-1,0-2.2-0.9-2.8c-0.2-0.2-0.5-0.3-0.7-0.4
	c2.4-4.8,4.3-9.2,10.7-10.5c2.8-0.6,5.8,0.2,8.4,1.2c2.6,1,4.1,3.5,6.7,4.4c0.6,0.2,1.4-0.2,1.4-0.9c-0.1-3.7-3-6.1-6.6-7.4
	c2.6-1.8-2.2-6.8-3.9-7.6c-3.5-1.6-9-0.3-10.5,3.6c-0.4,1.1-0.8,2.8,0.6,3.3c1.5,0.6,2.9-2,3.7-2.8c2.2-2,5.2-1,6.9,1
	c0.3,0.3,0.6,1.2,1.1,1.9c-3-0.7-6.2-0.8-8.4-0.4c-5.8,1.1-13.6,8.2-12.4,14.8c-1.5,1.2-2,4-1.2,5.6c0,0.1,0.1,0.1,0.1,0.2
	c-1.1,0.4-2.2,0.9-3.2,1.4c-2.2,1.3-1.2,4.4,1.3,4.2c4.1-0.4,8.2-1.9,12.3-2.5c5-0.7,10-0.7,15-0.4c2.1,0.1,4.2,0.5,6.2,0.8
	c4.7,0.8,4.9,3.1,5.6,7.1c0.7,3.5,1.1,7.1,2.1,10.5c-6.3-3.7-14.7-4.5-21.7-4.4c-4.3,0-8.4,0.6-12.6,1.5c-1.5,0.3-4.6,0.9-6.7,2
	C419,292.8,419.4,290.3,418.6,287.9z"/>
  <path class="st0" d="M449.1,319.8c0.9,3.7,2.1,7.2,3.7,10.6c0.7,1.7,1.6,3.2,2.5,4.8c0.7,1.2,3.2,3.7,2.7,5.1
	c-0.2,0.4,0.3,0.7,0.7,0.5c0.3-0.3,0.7-0.6,1-0.9c0.3-0.2,0.3-0.6,0.2-0.9c-3.1-6.5-5.8-12.8-7.3-19.9c-1.4-6.7-0.7-13.4-1.6-20.1
	c-0.1-1-1.6-1.1-1.9-0.2C446.4,305.2,447.6,313.3,449.1,319.8z"/>
  <path class="st0" d="M414.8,340.6c5.8-4.7,8.6-14.2,10.4-21.2c1.8-7.1,4.3-17.3,0.8-24.1c-0.4-0.8-1.5-0.8-1.9,0.1
	c-1.2,3.2-1.2,6.8-1.4,10.2c-0.3,4.1-0.9,8.2-1.9,12.2c-0.9,3.7-2.1,7.4-3.5,11c-1.4,3.6-3.5,7.1-4.3,10.9
	C412.8,340.7,414.1,341.2,414.8,340.6z"/>
  <path class="st0" d="M412.7,340.2c0.6,7.1,9.5,13.1,16.7,12.1c3.8,2.6,9.2,2.1,13.6,1.2c3.7-0.8,7.3-2.8,9.1-6
	c4.6-0.7,8.8-4,7.3-9.3c-0.1-0.6-0.9-0.4-0.9,0.2c0.4,3.8-2.4,6.1-5.6,6.9c0.2-0.9,0.3-1.8,0.2-2.9c-0.5-4.9-6.6-7.2-10-3.6
	c-3.5,3.6,0.8,7.9,4.5,8.7c0.3,0.1,0.7,0.1,1,0.2c-0.8,0.8-1.7,1.4-2.6,1.9c-3.6,1.9-8.9,2.7-12.9,1.6c1.2-0.7,2.2-1.6,3-2.9
	c2.3-3.6,0.1-9.7-4.7-8.9c-5.1,0.8-7.1,6.1-4.5,10.3c-2.3-0.2-4.5-1.1-6.3-2.2c-2.9-1.8-4.4-4.7-5.7-7.8
	C414.3,338.3,412.6,339,412.7,340.2z M449.7,345.6c-1.8-0.1-3.6-0.7-4.9-2c-2.1-2.1,0.4-4.5,2.7-4.4c2.5,0.2,3.2,3.8,2.7,5.6
	c-0.1,0.3-0.2,0.5-0.3,0.7C449.9,345.6,449.8,345.6,449.7,345.6z M430.5,342.2c2.1-1.1,3.8,0.5,3.7,2.6c0,2.1-1.9,3.4-3.6,4.1
	c-0.2,0.1-0.4,0.1-0.6,0.2C428.1,347.1,427.4,343.9,430.5,342.2z"/>
  <path class="st1" d="M441.6,125.9c0.1-17.5,0.1-35,0.2-52.5c0.2-0.2,0.4-0.3,0.5-0.5c7.4-7.1,8.4-16.6,6.9-26.3
	c-0.9-5.4-2.7-10.6-4.4-15.8c-1.6-4.8-2.3-9.5-2.9-14.3c0-14.1,0-28.2-0.2-42.3c-0.3-30.3,0.8-61-1.8-91.2c-0.1-1.1-1.5-1-1.6,0
	c-2.6,29.3-1.7,59.2-2.1,88.6c-0.2,13.5-0.3,27-0.4,40.6c-0.8,3.4-0.7,7,0,10.6c0,12.5-0.1,24.9-0.1,37.4c0,3,0,6.1,0,9.1
	c-1.6,1.2-3.4,2.3-5.2,3.3c-8.1,4.5-14.8,9.4-16.6,19.1c-1.8,9.8,3.1,19.4,9.1,26.7c3.7,4.5,8.2,8.1,12.7,11.7c0,6.2,0,12.4,0,18.6
	c0,23.1-0.5,46.4,0.7,69.5c-2.2,10.3-2.4,21,0.5,32c0.1,0.2,0.3,0.1,0.3-0.1c0.3-3.4,0.6-6.8,0.9-10.2c0.1,0.3,0.6,0.4,0.7,0
	c0.6-5.3,1-10.6,1.4-16c0.8-4.3,1.7-8.6,2.9-12.8c3.7-12.6,10.7-23.2,16.3-34.9C469.3,155,457,139,441.6,125.9z M443,58.2
	c-0.2,1.5-0.6,2.9-1.2,4.1c0-6.3,0-12.6,0.1-18.9C443,48.2,443.7,53.2,443,58.2z M420.6,94.3c0.1-9,8-12.7,15-16.7
	c0,14.5,0,28.9,0,43.4C427.5,114,420.5,105.8,420.6,94.3z M451.6,179.7c-3.8,7.3-7.5,14.8-10.5,22.5c0.4-16.1,0.3-32.2,0.3-48.3
	c0-6.4,0-12.8,0.1-19.1c2.4,1.9,4.7,3.9,6.9,6.1c4.7,4.7,8.3,10.5,9.2,17.2C458.8,165.7,455,173.2,451.6,179.7z"/>
  <path class="st0" d="M930,299.6c1.3,21,9,41.2,20.9,58.5c2.4,3.5,5.4,7.4,9.8,8.5c4.9,1.2,9.2-1,12.8-4.2
	c7.5-6.5,12.9-15.9,16.8-24.9c4.2-9.6,6.5-19.9,7.7-30.2c1.2-10,1.9-21.3-1.3-31c-1.9-5.9-5.2-10.8-10.3-14.3
	c-4.3-3-10.2-4.5-14.8-1.4c-0.8,0.5-0.2,1.6,0.5,1.7c4.4,1,8.4,1.8,12.1,4.5c4.1,2.9,6.4,7.6,7.7,12.3c2.7,9.6,1.6,20.5,0.3,30.2
	c-1.3,9.9-3.9,19.5-8,28.6c-2,4.4-4.4,8.5-7.2,12.4c-3,4.2-6.6,8.9-11.3,11.1c-5.5,2.5-9.6-4.9-12.1-8.6c-2.9-4.4-5.4-9.1-7.6-14
	c-4.2-9.1-6.9-18.8-8.5-28.6c-1.7-10.2-2.4-21.4,0.7-31.4c1.4-4.5,3.8-8.5,7.3-11.7c3.5-3.1,7.9-4,12-5.8c1.7-0.7,1.8-3.5-0.1-4.1
	c-8.6-3.1-17.4,4.6-21.9,11.4C929.6,277.5,929.4,289.1,930,299.6z"/>
  <path class="st0" d="M946.7,254.8c-0.5-1.6-2.6-1.9-3.5-0.5c-1.1,1.9-0.9,4.4-0.8,6.6c0,0.8,0.1,3.4,1.4,3.2
	c0.8-0.1,1.2-0.7,1.5-1.3c0.3,0.5,0.9,1,1.5,1c2.7,0.2,5.1-0.7,7.7-1.4c3.6-0.9,7.2-1.3,11-1.2c7,0.2,12.5,3.6,19.1,4.8
	c1,0.2,2.1-0.8,1.5-1.9c-0.8-1.4-1.9-2.5-3.2-3.5c0.2-0.1,0.4-0.3,0.5-0.6c2.3-5,0.8-10.1-2.5-13.8c0.3,0,0.6-0.1,0.8-0.4
	c3.4-4.9-0.6-11.2-5.3-14.9c0.2-0.1,0.3-0.2,0.3-0.4c-0.4-7-5.5-14.9-13.3-15.1c-3.8-0.1-6.9,1.2-9.4,4.1c-1.8,2.1-2.6,5.1-0.2,7.1
	c0.5,0.4,1.1,0.4,1.6,0c0.8-0.7,1.5-1.5,1.9-2.5c1.5-3.6,4.8-4.2,8.2-3.4c4.3,1.1,7.2,5.9,9.9,9.3c-1.2-0.9-2.5-1.6-3.6-2
	c-7.8-2.9-20.6-1.6-25,6.6c-0.3,0.6,0.1,1.7,0.9,1.6c7-0.8,12.6-5.1,20-3.9c3.3,0.5,6.1,2.5,8.3,4.8c2.2,2.3,2.7,5.4,4,8.1
	c-1.4-1.3-3-2.4-4.7-3.1c-8.3-3.7-19.6-0.9-26.1,5.3c0,0,0,0,0,0c-1-1.1-2.1-1.2-2.5-2.8c-0.3-1.1,0.1-2.1-0.4-3.2
	c-0.1-0.1-0.2-0.2-0.4-0.2c-2.2-0.3-2.8,2.6-2.7,4.3c0.2,2.2,2.3,5.2,4.7,4.9c0.2,0,0.4-0.1,0.6-0.1c0.1,0.1,0.3,0.1,0.5,0.1
	c6-0.5,11.3-3.7,17.4-4.3c7.7-0.8,15.2,4.3,13.9,12.6c0,0.1,0,0.1,0,0.2c-4.1-2.2-9.1-3.1-13.3-3.6c-6.4-0.8-16.2-0.1-20.8,5.1
	C946.8,258.6,947.3,256.5,946.7,254.8z"/>
  <path class="st0" d="M952.7,284.6c-1.3,7.9-5.5,14.5-7.6,22.1c-0.1,0.3,0.3,0.6,0.5,0.4c0.8-0.5,1.5-1.1,2.1-1.7
	c0.9,1.3,2.4,2,4.1,2.1c2.2,0.2,4.7-0.6,5,2.6c0.1,0.9,0.7,1.2,1.4,1.6c2.6,1.4,5.2-5.2,7.3-2.1c1.7,2.6,1.9,5.5,5.5,6.1
	c0.5,0.1,1.2,0,1.5-0.6c1-2.1,0.8-3.9,0.7-6.2c-0.2-3.4,8.2-3.1,10.4-4.4c0.2-0.1,0.1-0.4-0.1-0.4c0,0,0,0,0,0
	c-2.7-6.9-5.8-13.3-7.5-20.6c-0.9-3.9-1.3-8-1.5-12c-0.2-3.6,0.8-7.9-0.4-11.2c-0.2-0.6-1-0.7-1.3-0.2c-1.7,2.8-1.2,6.8-1.1,10
	c0.1,4.3,0.8,8.5,1.7,12.7c1.5,7.1,4.2,15,8.6,20.9c-2.9-0.5-7.1-0.3-9.3,1c-2.9,1.7-1.6,5.3-2.1,8.1c-2.2-1.5-2.9-5.7-5.6-7
	c-2.2-1.1-4,0.5-5,2.4c-1.1,2-0.6,0.8-1.1-0.8c-0.3-0.8-0.9-1.6-1.6-2c-0.8-0.4-1.7-0.5-2.5-0.4c-2.2,0.5-3.8-0.3-5.6-0.9
	c4.6-5.2,6.6-13,7.7-19.5c1.2-7.5,1.7-18.3-3.4-24.6c-0.5-0.6-1.3-0.1-1.4,0.6c-0.2,3.6,0.7,7.4,1.1,11
	C953.6,275.8,953.4,280.2,952.7,284.6z"/>
  <path class="st1" d="M968-54.2c-0.2-0.5-0.8-0.5-1.1-0.2c0.1-4.1,0.1-8.3,0.1-12.4c0.1-13,1.6-27.5-0.6-40.3c-0.2-1-1.5-0.8-1.7,0.1
	c-3.1,11.7-2.5,25.4-3.3,37.6c-0.8,13.4-1.1,26.8-1.4,40.2c-0.7,27.6-0.9,55.2-0.9,82.7c-3.1,12.2-6.3,24.3-9,36.5
	c-4.8,21.5-7.5,43.6-5.3,65.7c1.8,18,7.5,39.1,20.1,51.8c0.3,3.3,0.7,6.6,1,9.9c0.3,3.1,4.4,3,4.4-0.2c-0.3-54.5-3.2-109-3.9-163.6
	c0-1.4,0-2.9,0-4.3c3.1-13,6-26.1,7.7-39.5C976.9-11.1,977-34.9,968-54.2z M956.2,179.3c-3.2-10-4.9-20.4-5.6-30.9
	c-1.6-23.7,3.2-47.2,8.7-69.9c0.3,39.5,1.3,79.3,4.7,118.6C961,191.4,958.3,185.7,956.2,179.3z M966.8,18.8
	c-0.1,0.9-0.3,1.8-0.5,2.7c0-16.1,0-32.1,0.2-48.2c0.1-8.5,0.3-17,0.4-25.5C970.5-28,970.8-5.4,966.8,18.8z"/>
  <path class="st0" d="M1072.9,429.9c0.2,13,5.4,25,15.9,32.9c10.2,7.6,23,10.7,35.6,9.9c22.8-1.5,42.6-16.3,51-37.3
	c4.4-11,5.1-24,0.4-35c-4-9.2-11.7-17-21.7-19.3c-2-0.4-2.6,2.3-0.8,3c11.9,4.6,19.8,15.7,21.2,28.2c1.5,13.6-4,27.4-12.8,37.5
	c-17.2,19.8-50,25.5-71.1,8.3c-14.2-11.6-15.2-32.2-9.6-48.5c2.8-8.2,8.7-14.3,16-18.6c3.4-2,7-3.6,10.6-5.2
	c3.9-1.7,7.6-3.3,11.3-5.3c1.3-0.7,0.3-2.4-0.9-2.2c-3,0.4-5.9,0.8-8.8,1.7c-3.1,1-6.1,2.1-9,3.4c-5.5,2.4-10.7,5.8-15.1,10
	C1075.6,402.9,1072.7,417,1072.9,429.9z"/>
  <path class="st0" d="M1138.5,400.5c1.2,3.4,2.7,6.7,4.4,9.9c1.5,2.8,3.3,6.3,6.1,7.9c0.7,0.4,1.4-0.2,1.3-0.9
	c-0.6-3.1-2.8-6-4.3-8.7c-1.7-3.1-3.2-6.4-4.4-9.8c-1.2-3.2-2.2-6.6-3-9.9c-0.4-1.7-0.8-3.3-1.2-5c-0.3-1.3-0.4-2.4-1.4-3.3
	c-0.1-0.1-0.3-0.1-0.4,0c-1.5,2.2-0.4,6.5,0,9C1136.2,393.4,1137.2,397,1138.5,400.5z"/>
  <path class="st0" d="M1103,421.2c5-5.1,7.6-12.5,10.4-19c1.5-3.5,2.8-7.1,4.1-10.6c1.2-3.3,2.5-6.9,2.4-10.4c0-0.7-0.9-0.9-1.3-0.4
	c-1.9,2.7-2.9,6-4,9c-1.3,3.6-2.8,7.1-4.2,10.6c-2.8,6.6-6.9,13-8.6,20C1101.6,421.2,1102.5,421.8,1103,421.2z"/>
  <path class="st0" d="M1113.8,427.4c2-0.3,2.8-0.1,3.5,1.8c0.4,1,0.8,1.9,1.6,2.7c1.7,1.6,4.2,0.6,5.5-1c1-1.3,1.6-2.9,2.6-4.3
	c2.7-3.4,4.1,2.2,4.4,4c0.1,1,1.5,1.5,2.3,1c4-2.5,7.8-6,9.8-10.4c0.7-1.6-1.3-2.8-2.3-1.4c-2.1,3.1-4.3,5.7-7.2,7.9
	c-0.5-2-1.5-4-3.6-4.7c-3.2-1.1-5.6,1.1-7,3.8c-0.6,1.1-2,4.2-3.1,1.9c-0.5-1-0.7-2.2-1.6-3.1c-0.9-0.9-1.8-1.3-3.1-1.4
	c-1.6-0.1-3.5,1.1-4.9,0.1c-0.6-0.4-1.5,0.2-1.3,1C1110,427.4,1111.8,427.7,1113.8,427.4z"/>
  <path class="st0" d="M1105.5,372.2c-1.7,1.7-3,3.8-2.4,6.2c0.7,2.6,4.5,5.3,6.3,2c0.4-0.7,0-1.4-0.6-1.8c-0.7-0.4-1.7-0.9-1.3-2
	c0.4-1.2,1.9-2.2,2.8-2.9c2-1.6,4.1-2.9,6.4-4c4.7-2.3,9.9-3.3,15.2-3.3c5,0,10.1,1.5,14.5,3.8c2.3,1.2,4.2,2.9,5,5.4
	c0.6,1.6,0.1,3.2-0.9,4.4c-0.2,0.3-0.5,0.5-0.7,0.7c-0.1-0.1-0.2-0.2-0.4-0.3c-5.6-3.1-12.6-3.8-18.9-4c-3.4-0.1-6.8,0.2-10.1,0.7
	c-3,0.5-6.2,1.1-8.6,3.1c-0.5,0.5-0.6,1.6,0.3,1.7c2.9,0.3,5.7-0.5,8.5-1c3.1-0.5,6.2-0.7,9.3-0.7c6.4-0.1,12.2,1.6,18.4,2.8
	c0,0,0.1,0.1,0.1,0.1c2.5,1.4,5-1.7,5.8-3.7c1.3-3.1-0.1-6.6-2.1-9c-0.3-0.3-0.5-0.6-0.8-0.9c0,0,0.1-0.1,0.1-0.1
	c3.1-4.7,0.2-10.4-3.8-14.1c2.9-4.5-1.6-9.6-5.7-11.7c0.4-0.3,0.5-0.9,0.1-1.3c-5.5-5.4-13.4-8.8-21.2-8c-3.4,0.4-6.8,1.8-9.3,4.1
	c-2,1.8-5.2,5.5-4.2,8.4c-1.3,1.2-2.4,2.5-3,3.6c-1.6,2.6-2.4,8.2,0.2,10.6c-0.3,0.4-0.5,0.9-0.7,1.3
	C1102.4,365.5,1103.5,369.6,1105.5,372.2z M1107.6,351.8c0.9-1.3,2.3-2.3,3.7-3c1.2-0.6,2.3-0.9,3.1-2.1c0.2-0.4,0.1-1-0.2-1.2
	c-0.8-0.6-1.6-0.8-2.5-0.8c0.5-1,1-2,1.7-2.8c2.2-2.5,5.4-3.7,8.6-4.1c6.1-0.8,11.5,1.9,16.7,4.6c-2.3-0.6-4.7-0.9-7-1.1
	c-3.4-0.2-7.4-0.2-10.2,1.9c-0.8,0.6-0.7,2.1,0.4,2.3c2.5,0.4,4.9-0.2,7.4-0.3c2.8-0.1,5.5,0.3,8.2,0.9c4.4,1,7.8,3.4,8.3,7.7
	c-0.5-0.4-1.1-0.7-1.6-1c-3.4-1.8-7.5-2.3-11.4-2.2c-4,0.1-8.7,0.8-11.8,3.5c-0.5,0.4-0.1,1.3,0.4,1.3c3,0.5,6-0.4,9-0.9
	c3.3-0.5,6.6-0.3,9.8,0.6c3.1,0.9,5.8,2.8,7.6,5.4c1.6,2.3,1.8,4.8,1.9,7.4c-5.1-3.9-12.6-5.3-18.7-5.5c-8.2-0.3-16.4,2.8-23,7.7
	c-0.1,0-0.1,0.1-0.2,0.1c-0.7-3.4-1.5-6.5,2-8.9c1-0.7,2.1-1.1,2.4-2.4c0.2-1-0.9-1.7-1.7-1.7c-1.7,0-3.1,0.7-4.3,1.8
	c0-0.4-0.1-0.9-0.1-1.3C1105.9,355.7,1106.4,353.5,1107.6,351.8z"/>
  <path class="st1" d="M1124.2,156.9c0.3-30.6,1.4-61.2,3.4-91.7c1.9-30.4,6.1-60.9,7.1-91.3c0.1-1.7-2.6-2-3-0.4
	c-6.5,29-8.5,59.6-10.7,89.2c-1.7,23.4-2.9,46.8-3.4,70.3c-4.7,7.7-6.8,16.4-7.5,25.4c-0.4,4.9,0.5,9.8,2,14.4
	c1.8,5.7,5.1,11,4.2,17.3c-0.7,4.3-3.9,8-4.8,12.5c-0.7,3.5,0.2,7.2,1.3,10.5c1.6,4.8,4.1,9.2,5.6,13.7c0.1,3.5,0.3,7.1,0.5,10.6
	c-0.4,1.2-0.9,2.4-1.6,3.7c-4.1,7.1-11.6,11.7-16.4,18.3c-4.9,6.7-7.4,15-6.1,23.3c1.5,9.4,6.6,15.8,13.7,21.8
	c9,7.7,19.2,15.4,15.9,28.8c-0.1,0.5,0.5,0.9,0.9,0.5c1-1.2,1.7-2.4,2.2-3.5c0.5,2.6,1,5.2,1.5,7.8c0.2,0.9,1.6,0.7,1.6-0.2
	c-0.1-29.6-3.2-59.3-4.6-89c-0.2-3.6-0.3-7.2-0.5-10.9c0.9-3.9,0.6-7.9-0.4-11.9C1124.2,203,1124,179.9,1124.2,156.9z M1117.2,151.9
	c0,0.8,0,1.7,0,2.5c0,4.4-0.1,8.8-0.1,13.2C1115.7,162.3,1116.1,157.1,1117.2,151.9z M1107.8,296.1c-8.4-8.9-9.2-22.2-2.5-32.3
	c3.8-5.8,9.4-10.1,14.1-15.3c1.1,21.9,2.4,44.1,5.5,65.9C1120.1,307.2,1112.1,300.7,1107.8,296.1z"/>
  <path class="st0" d="M1244.9,411.3c17,11.6,39.9,10.2,56.7-0.9c18.2-12,25.6-34.7,19.6-55.5c-3.7-12.9-13.8-21.6-20.9-32.5
	c-1.1-1.6-4.3-1-3.5,1.2c3.6,10.5,12.8,17.9,17.3,28c4.7,10.6,4.6,23.1,0.7,33.9c-7.3,20.2-30.3,30.9-50.7,27.4
	c-21.1-3.5-36.7-24.5-37.3-45.2c-0.3-10.6,3.8-20.9,9.9-29.4c3.1-4.3,6.9-7.9,11.2-11.1c4-3,8.8-5,12.6-8.4c1.2-1.1,0.6-3.3-1.2-3.4
	c-9.8-0.5-19.2,8-25.2,14.9c-6.9,8-11.3,17.6-13.2,28C1217.3,378.9,1228.1,399.9,1244.9,411.3z"/>
  <path class="st0" d="M1254.6,308.9c-0.4-1.3-2.3-2.1-3.2-0.6c-1.4,2.5-1.8,5.2-2.5,8c-0.6,2.2-1.5,4.5,0.1,6.5
	c0.3,0.4,0.8,0.5,1.2,0.4c1.2-0.2,2-1,2.6-1.9c0.5,0.6,1.4,0.9,2.4,0.7c4.4-0.7,8.5-2.5,12.9-3.3c4.7-0.8,9.4-0.9,14.1-0.5
	c4.9,0.4,9.6,1.9,14.5,2.5c1.2,0.1,1.9-1,1.8-2c0.4-6-1.3-12.4-2.5-18.3c-0.5-2.4-2-3.9-3.8-4.7c0.4-3.4-1.9-6.9-5.2-8.3
	c-3.2-1.4-7.1-2.9-10.7-2.8c-4.1,0-7.5,0.5-11,2.2c-0.5,0.2-1,1.3-0.8,1.8c0.8,2.3,6.6,1.3,10,0.9c5.3-0.5,12.7,0.1,14.8,5.4
	c-0.6-0.2-1.3-0.3-1.9-0.4c-6-1.1-11.8-1.4-17.9-0.9c-3.1,0.2-6.7,0.6-10.1,1.3c0.1-0.5,0.1-0.6,0.1-0.3c0-0.1,0.1-0.3,0.1-0.4
	c0,0,0-0.1,0-0.1c0,0,0.1-0.1,0.1-0.2c0.2-0.4,0.5-0.7,0.6-1.2c0.4-1-0.1-2.2-0.9-2.8c-0.2-0.2-0.5-0.3-0.7-0.3
	c2.3-4.9,4-9.3,10.4-10.8c2.8-0.7,5.8,0,8.4,1c2.6,1,4.2,3.4,6.8,4.3c0.6,0.2,1.4-0.2,1.4-0.9c-0.2-3.7-3.2-6-6.8-7.3
	c2.6-1.8-2.4-6.8-4.1-7.5c-3.5-1.5-9-0.1-10.4,3.8c-0.4,1.1-0.7,2.8,0.7,3.3c1.5,0.5,2.8-2.1,3.7-2.9c2.1-2.1,5.2-1.2,7,0.8
	c0.3,0.3,0.7,1.2,1.1,1.8c-3-0.7-6.2-0.7-8.4-0.2c-5.8,1.3-13.3,8.5-12,15.1c-1.5,1.2-1.9,4-1.1,5.7c0,0.1,0.1,0.1,0.1,0.2
	c-1.1,0.4-2.2,0.9-3.2,1.5c-2.2,1.3-1.1,4.5,1.4,4.2c4.1-0.5,8.1-2.1,12.2-2.8c4.9-0.9,10-1,15-0.8c2.1,0.1,4.2,0.4,6.2,0.6
	c4.7,0.7,4.9,3,5.8,7c0.8,3.5,1.3,7.1,2.4,10.5c-6.4-3.5-14.8-4.1-21.8-3.9c-4.3,0.1-8.4,0.8-12.5,1.9c-1.5,0.4-4.5,1-6.7,2.2
	C1255.1,313.9,1255.4,311.3,1254.6,308.9z"/>
  <path class="st0" d="M1285.8,340c0.9,3.6,2.3,7.2,3.9,10.5c0.8,1.6,1.7,3.2,2.6,4.8c0.7,1.2,3.3,3.6,2.8,5c-0.2,0.4,0.4,0.7,0.7,0.5
	c0.3-0.3,0.7-0.6,1-0.9c0.2-0.2,0.3-0.6,0.2-0.9c-3.2-6.4-6.2-12.7-7.8-19.7c-1.6-6.7-1-13.4-2.2-20.1c-0.2-1-1.6-1-1.9-0.1
	C1282.8,325.6,1284.2,333.6,1285.8,340z"/>
  <path class="st0" d="M1252.2,361.8c5.7-4.9,8.2-14.5,9.8-21.5c1.6-7.1,3.8-17.4,0.1-24.1c-0.4-0.8-1.6-0.7-1.9,0.1
	c-1.1,3.2-1.1,6.9-1.2,10.2c-0.1,4.1-0.7,8.2-1.6,12.2c-0.8,3.8-1.9,7.4-3.2,11.1c-1.3,3.7-3.3,7.2-4,11
	C1250.1,361.9,1251.5,362.4,1252.2,361.8z"/>
  <path class="st0" d="M1250,361.4c0.8,7.1,9.8,12.8,17,11.7c3.8,2.5,9.3,1.9,13.6,0.8c3.6-0.9,7.3-3,8.9-6.2c4.6-0.9,8.7-4.2,7.1-9.5
	c-0.2-0.6-1-0.4-0.9,0.2c0.5,3.8-2.2,6.1-5.4,7.1c0.2-0.9,0.2-1.8,0.1-2.9c-0.6-4.9-6.7-7.1-10.1-3.4c-3.4,3.7,1,7.9,4.7,8.5
	c0.3,0.1,0.7,0.1,1,0.1c-0.7,0.8-1.7,1.5-2.6,2c-3.6,2-8.9,2.9-12.8,1.9c1.1-0.7,2.1-1.7,2.9-3c2.2-3.6-0.2-9.7-5-8.8
	c-5.1,0.9-6.9,6.2-4.3,10.4c-2.3-0.1-4.6-0.9-6.4-2c-2.9-1.8-4.6-4.6-5.9-7.6C1251.5,359.5,1249.9,360.2,1250,361.4z M1287.2,365.8
	c-1.8,0-3.6-0.6-5-1.8c-2.1-2,0.3-4.5,2.6-4.4c2.5,0.1,3.3,3.7,2.8,5.5c-0.1,0.3-0.1,0.5-0.2,0.7
	C1287.3,365.8,1287.3,365.8,1287.2,365.8z M1267.9,363c2.1-1.2,3.8,0.4,3.8,2.5c0,2.1-1.8,3.4-3.5,4.2c-0.2,0.1-0.4,0.1-0.5,0.2
	C1265.6,367.9,1264.8,364.7,1267.9,363z"/>
  <path class="st1" d="M1291.5,195.3c-5.8-7.9-15.7-9.4-24.3-12.9c-0.1-3.5-0.1-7-0.1-10.5c0.2,0,0.3-0.1,0.5-0.1
	c3.6-1.2,6.7-3.2,9.2-6.1c5.4-6.1,1.2-12-3.4-16.6c-5.8-5.7-2.9-17.2-2.3-24.4c0.5-6.1,0.4-12.5-2.9-17.5
	c0.4-13.8,0.9-27.6,1.4-41.4c0.4-11.5,0.7-23,1-34.5c0.3-11.4,1.5-23.1,0.4-34.5c-0.2-1.6-2.7-2.4-3.1-0.5
	c-1.9,10.6-1.8,21.5-2.4,32.2c-0.7,11.5-1.4,23-2,34.4c-0.7,14.2-1.4,28.3-1.9,42.5c-0.1,0.3-0.1,0.7,0,1.1
	c-0.3,8.6-0.6,17.2-0.9,25.7c-0.3,11.6-0.4,23.1-0.4,34.7c-4,1.6-7.7,3.8-9.6,8.1c-0.7,1.5-0.6,2.8,0.5,4.1c2.6,3.4,5.9,5.6,9.4,7.2
	c0.1,5,0.2,10.1,0.4,15.1c0.3,7.4,0.6,14.9,1.1,22.4c-2.8,0.5-5.5,1.1-8.1,2c-8.6,3-19.2,14.4-14.4,24.5
	c5.1,10.7,18.7,10.6,27.6,16.3c0.5,0.3,0.9,0.1,1.2-0.2c0.1,0.5,0.3,1.1,0.4,1.6c0.4,1.4,2.5,1.2,2.5-0.3
	c0.1-13.3-0.9-26.6-1.9-39.9c6.3-1.2,12.1-2.8,17.6-6.6C1295.9,215.1,1298,204.2,1291.5,195.3z M1270.8,162.1
	c-1,1.1-2.4,1.9-3.8,2.5c0-4.2,0-8.4,0.1-12.6c0.4,0.6,0.9,1.2,1.4,1.8C1270.3,156,1274.7,157.8,1270.8,162.1z M1257.7,176.5
	c0.7-0.9,1.6-1.6,2.6-2.1c0,1.4,0,2.9,0.1,4.3C1259.4,178.1,1258.5,177.3,1257.7,176.5z M1244.4,242.9c1.7-8.5,10.3-11.8,18-13.5
	c0.9,11.8,2.5,23.6,5.3,34.9C1261.5,255.7,1241.7,256.7,1244.4,242.9z M1279.4,219.6c-3.2,1.6-6.8,2.5-10.4,3.2
	c-0.5-7-1-14.1-1.3-21.1c-0.2-4.2-0.3-8.4-0.4-12.5c6.7,2.2,13.6,4,19,8.7C1295.4,205.8,1287.4,215.6,1279.4,219.6z"/>
  <path class="st1" d="M690.1,223.3c13.8-9.2,26-18.5,17.3-38c-3.5-7.9-10-13.2-16.6-18.3c0.2-20.3,0.3-40.7,0.3-61
	c7.6-10.9,9.4-23.4,0.1-34.3c0,0-0.1-0.1-0.1-0.2c-0.1-38-0.6-76.1-1.3-114.1c-0.4-21.3-0.9-42.6-1.4-64
	c-0.3-11.1-0.6-22.2-0.9-33.4c-0.3-10.3-0.6-20.7-3.1-30.7c-0.2-0.7-1.3-0.7-1.4,0c-3.7,19.8-0.9,41.4-0.5,61.4
	c0.5,21.3,0.9,42.6,1.3,64c0.3,20,0.6,39.9,0.7,59.9c-0.6-0.4-1.4-0.3-1.7,0.6c-5.3,14.5-9.7,31.6-3.8,46.7c1.5,3.7,3.6,6.7,5.8,9.6
	c0,3.7,0,7.4,0.1,11.1c0,7.3,0,14.7,0,22c-0.7,0.9-1.5,1.8-2.2,2.5c-9.4,10.5-20.3,20.4-18.3,36.2c1.5,11.7,11.2,19.6,20.3,26.5
	c-0.1,13.6-0.2,27.1-0.4,40.7c0,3.1-0.1,6.2-0.1,9.2c-10.8,6.7-21,14.6-25.4,27.5c-4.7,13.7,1.4,25.1,12.1,32.8
	c5.5,4,9.5,8.6,12,13.8c-0.5,15.8-0.8,31.7,1.4,47.3c0.1,0.4,0.6,0.5,0.7,0.1c1.6-8,2.5-16.1,3-24.3c2.7-6.7,2.5-14.2,0.7-21.3
	c0.1-5.3,0.2-10.5,0.3-15.7C689.5,261.2,689.8,242.3,690.1,223.3z M684.4,19c0.1,14.1,0.2,28.3,0.3,42.4
	C679.1,48.3,681.8,33.9,684.4,19z M691.1,85.5c0-1.6,0-3.2,0-4.8c0,0,0,0.1,0.1,0.1c2.5,4.5,1.9,9.5-0.1,14.1
	C691.1,91.7,691.1,88.6,691.1,85.5z M674.9,152.8c-11.8-15.2,0-27.7,9.9-39.1c0,16.2-0.1,32.4-0.2,48.5
	C681.1,159.4,677.7,156.3,674.9,152.8z M692.1,175.8c7.3,5.8,14.1,14.7,12.5,24.9c-1.2,7.5-8.3,12.1-14.3,15.7c0-0.1,0-0.1,0-0.2
	c0.2-13.8,0.4-27.6,0.5-41.5C691.2,175.1,691.6,175.4,692.1,175.8z M673.8,275.4c-7.5-5.6-11.3-11.7-10.4-21.5
	c1.1-12.1,10.5-19.7,20.7-26.5c-0.2,15.8-0.4,31.6-0.6,47.4c0,3.1-0.1,6.1-0.2,9.2C680.6,280.6,677.2,277.9,673.8,275.4z"/>
  <g>
    <polygon class="st0" points="683.3,376 696,377.1 705.1,387.4 708.9,408.6 723.5,426.6 736.4,444.1 736.2,463.1 716.6,485.4
		699,493.7 671.8,495.3 652.5,487.2 639.3,467.9 637.1,445.8 650.6,424.1 660.8,416.7 663.1,397.1 670.4,381.3 	"/>
    <path class="st2" d="M743.2,399.4c-2.4,1.7-4.3,4-6.2,6.2c-2.1,2.4-4.4,5.1-5.1,8.2c-0.7,3.2,2.5,5.7,5.4,4.1
		c2.5-1.4,4.4-3.8,6.3-5.8c2-2.2,4.3-4.1,6-6.4C752.2,402,746.9,396.8,743.2,399.4z"/>
    <path class="st2" d="M770.7,429.8c-3.6,0.4-7.2,0.8-10.7,1.3c-3.6,0.5-7.5,0.8-10.1,3.5c-1.3,1.4-0.9,3.3,0.6,4.4
		c2.7,1.9,6.1,1.7,9.3,1.6c3.7-0.2,7.3-0.4,11-0.7C777.2,439.3,777.1,429.1,770.7,429.8z"/>
    <path class="st2" d="M773.4,482.4c-4.5-3.6-11.8-6.3-17.7-5.9c-3.3,0.3-4.6,4.4-1.7,6.3c2.3,1.5,5,2.4,7.5,3.5
		c2.6,1.1,5,2.6,7.6,3.4C773.1,490.9,776.9,485.1,773.4,482.4z"/>
    <path class="st2" d="M615.2,453.8c-1.9-3.4-5.7-3.2-9.2-3.3c-4.4-0.1-8.8,0.1-13.3,0.3c-6.9,0.2-6.9,11.1,0,10.7
		C596,461.3,619.8,461.9,615.2,453.8z"/>
    <path class="st2" d="M634.8,417.9c-1.9-3.5-5.7-5.7-8.7-8.2c-2.9-2.4-6-6.6-9.9-7.2c-3.5-0.6-6.4,2-5.7,5.7c0.8,4,5,6.6,8,9
		c3.3,2.6,7.2,6.2,11.5,6.9C633.5,424.5,636.7,421.4,634.8,417.9z"/>
    <polygon class="st3" points="683.3,376 696,377.1 705.1,387.4 708.9,408.6 723.5,426.6 736.4,444.1 736.2,463.1 716.6,485.4
		699,493.7 671.8,495.3 652.5,487.2 639.3,467.9 637.1,445.8 650.6,424.1 660.8,416.7 663.1,397.1 670.4,381.3 	"/>
    <path class="st3" d="M736.4,451.1c-0.1-1.5-0.4-3-0.8-4.5c-0.4-1.6-0.8-3.2-1.3-4.8c-11,3.4-21.4,8.1-31.4,13.8
		c9.3-7.4,18.8-14.6,28.3-21.7c-0.2-0.3-0.3-0.7-0.5-1c-0.8-0.7-1.5-1.5-2.1-2.2c-0.7-0.9-1.5-1.9-2.2-3
		c-16.6,7.1-32,16.1-46.8,26.1c12.7-11.6,26-22.5,39.9-32.6c-0.9-0.7-1.7-1.4-2.4-2.1c-1.1-1.2-2-2.3-2.7-3.5
		c-14.1,5.8-27.4,13.1-40.2,21.2c11.9-9.1,24.1-17.8,36.5-26.3c-1.2-2-2.1-4.1-2.9-6.3c-12.6,6.3-25,13.1-36.9,20.6
		c-7.1,4.5-13.9,9.9-20.9,14.9c17.9-15.9,36.5-30.9,55.9-44.9c0-0.9,0.3-1.6,0.9-2c-0.2-1.6-0.4-3.2-0.5-4.9
		c-10.7,6.5-21.3,13-32,19.5c7.9-7.3,15.8-14.7,23.6-22.1c1.9-1.8-0.6-5-2.7-3.6c-7.1,4.6-14.2,9.2-21.4,13.8
		c4.9-5.1,9.6-10.4,14.1-15.8c1-1.2-0.4-3.5-1.8-2.4c-8.3,6.2-16.5,12.5-24.8,18.7c0,0.6,0,1.2,0,1.8c5.1-3.4,10.1-6.8,15.2-10.3
		c-5.1,5.2-10.3,10.3-15.6,15.2c-0.3,2.2-0.7,4.2-0.9,5.7c-0.1,0.4-0.2,0.8-0.2,1.1c5.5-3.5,10.9-6.9,16.4-10.4
		c-6.1,5.7-12.3,11.3-18.4,17c-1.2,2.8-2.8,5.2-4.9,7.3c0.7,1,2,1.6,3.3,0.8c4.1-2.5,8.2-5,12.3-7.4c-10.6,8.5-20.9,17.4-31,26.4
		c0,0.2-0.1,0.3-0.1,0.5c-0.6,3.7-0.8,7.7-1.2,11.7c12-6.1,22.5-15.4,33.6-22.7c0,0,0.1,0,0.1-0.1c-11.7,9-23.1,18.5-33.7,28.7
		c0.5,2.6,1,5.1,1.5,7.6c0.3,0.1,0.5,0.2,0.7,0.4c18.3-13.2,36.9-26.2,56.6-37.1c-17.7,14.5-34.7,29.9-50.6,46.5
		c1.9,1.7,3.9,3.4,5.8,5.1c17.7-13.8,35.8-27.6,55.4-38.8c-17.2,13.7-33.8,28.1-49.4,43.7c0.2,0.1,0.3,0.2,0.5,0.4
		c2.4,1.3,4.7,2.7,7.2,3.9c17.6-14.2,35.5-28.2,55.8-37.8c-15.8,12.7-31.1,25.9-44.9,40.7c4.8,0,9.7,0.3,14.5,0.6
		c7.7-6,15.7-11.7,23.9-16.9c-6.2,5-12.2,10.3-17.9,16c4-1,7.9-2.3,11.7-4c5.7-2.6,10.6-5.8,15.7-9c-0.3-0.2-0.6-0.3-1-0.4
		c2.6-2.1,5.3-4.1,8.1-6.1c1.4-2.2,2.6-4.4,3.8-6.6c1.1-2.2,2.1-4.3,2.9-6.5c0.1-1.3,0.2-2.6,0.3-3.9c-9.9,4-19.2,9-28.2,14.7
		C717.4,466,726.9,458.5,736.4,451.1z"/>
    <path class="st0" d="M639.3,476.6c22.3,37.5,84.3,25.1,98.6-13.1c3.5-9.3,1.9-19.9-3-28.3c-4.5-7.7-12.4-12.8-18.4-19.2
		c-3.6-3.8-5.7-8.1-6.8-13.3c-1.1-5.3-1-10.7-2.6-15.9c-2.2-7.1-10.6-14.7-18.1-10.1c-0.9,0.5-0.6,2.2,0.6,2.1
		c14.1-1.5,13.7,15.8,15.2,25.3c1.5,9.7,8.1,16.4,15,22.8c8.2,7.5,14.5,15.4,14.2,27c-0.2,11.6-8.9,21.5-17.7,28.1
		c-17.8,13.5-42.2,16.4-61,3.4c-17-11.8-21.8-37.2-7.4-53c6.2-6.8,13.8-10.9,16.4-20.3c2-7.5-2.6-24.2,11.5-30.4
		c3.7-1.6,10.8-6.8,6.7-6.9c-13.3-0.4-22.4,14.5-23.2,23.3c-0.6,5.5,0,11.2-2.6,16.3c-2.3,4.5-7,7.7-10.8,11
		C631.5,438.2,629.6,460.3,639.3,476.6z"/>
    <path class="st0" d="M664.2,377.5c0.7,2.3,2.5,4.6,4.9,5.2c0.4,0.1,0.8,0,1.1-0.2c1.5,0,2.7-0.5,4.2-1c2.7-1,5.2-1.9,8-2.5
		c5.5-1.2,10.6,0,16,0.5c0.8,0.1,1.4-0.5,1.6-1.2c0.7,0.6,1.8,0.7,2.5-0.3c5-6.6,2.2-12.4-3.6-15.6c0.2-3.3,1.3-6.4-0.3-9.8
		c-1.1-2.2-3.3-3.5-5.7-4c0.5-3.1,0.3-6.3-2.5-8.4c-3.3-2.5-8.2-3-11.9-1.2c-1.3,0.6-1,2.9,0.4,3.2c1.8,0.3,3.6,0.1,5.4,0.1
		c4.6,0.1,5.1,4.1,4.3,7.6c-0.3,1.2,0.6,2.6,1.9,2.5c5.9-0.5,5,4.6,5.7,8.8c-0.7-0.2-1.3-0.4-2-0.6c-4.7-1.2-9.7-1-14.5-0.1
		c-2,0.4-5.2,1.1-7.6,2.4c0.3-0.8,0.2-1.9,0.2-2.7c0.3-4.5,3.8-6.8,8.1-6.5c1.3,0.1,1.4-1.8,0.3-2.2c-2.5-0.9-5.2-0.4-7.5,0.9
		c0.9-1,0.8-2.7,1.1-4c0.3-1.4,1.1-2.9,1-4.3c0-0.2-0.2-0.5-0.5-0.5c-3.2,0.3-5.7,7.2-2.7,9c0.2,0.1,0.4,0.1,0.6,0.1
		c-3.1,2.1-5,5.9-3.8,9.7c0.2,0.6,0.8,1.4,1.5,1.6c-0.8,0.7-1.3,1.5-1.5,2.5c-0.1,0.8,0.2,1.4,1,1.7c2.6,0.9,5.2-1.2,7.5-2.1
		c3.2-1.2,6.6-1.6,10-1.6c3.3,0,6.7,0.5,9.8,1.9c4.5,2.1,4.1,5.9,2.3,9.9c0,0.1-0.1,0.2-0.1,0.3c-0.1-0.1-0.2-0.2-0.3-0.2
		c-5-2.8-11.4-2.9-16.9-2.1c-3.7,0.5-9.9,1.6-12.7,4.9c-1.6-1.9-2.4-4.1-2.2-6.7c0.1-1-1.3-1.5-1.9-0.8
		C664.1,373.3,663.5,375.4,664.2,377.5z"/>
    <path class="st0" d="M666.1,427.1c0.9,1.4,2.2,2.1,3.7,2c-0.3,2.4-0.6,4.8-0.8,7.2c-0.1,1.3,0,2.8,1.3,3.6c2.8,1.6,5.7-2.3,7.3-5.3
		c1.1,2.1,2.1,4.1,3.1,6.2c0.3,0.7,1.2,0.6,1.6,0.2c1.6-1.3,2.7-2.8,3.4-4.7c0.5,0.5,1,0.9,1.4,1.4c0.3,0.3,0.9,0.2,1.1-0.1
		c0.7-1.2,1.3-2.4,1.9-3.6c1.1,2.5,2.2,5,3.2,7.6c0.4,1,1.7,1,2,0c1.3-3.4,2.5-6.9,3.7-10.3c1.1,1.3,1.2,4,2,5.3
		c0.7,1.2,2,1.8,3.4,1.7c1.5-0.1,2.3-1.6,2.8-2.8c1.1-2.7,2.8-5.6,3.3-8.5c1,0.5,1.9,0.7,2.9,0.7c0.5,0,0.8-0.5,0.5-0.9
		c-1.3-2.6-4.8-4.6-6.8-6.8c-2.5-2.7-4.4-5.9-5.9-9.2c-1.6-3.4-2.6-7.2-3-10.9c-0.4-3.1,0.4-7.1-1.1-9.9c-0.3-0.5-0.9-0.5-1.3-0.2
		c-2.5,2.4-2.2,7-1.9,10.1c0.4,4.2,1.6,8.2,3.4,12.1c1.7,3.6,4,6.9,6.8,9.8c1.2,1.3,2.9,3,4.7,4.3c-0.9,1.1-1.4,2.4-2,3.7
		c-0.3,0.8-2.6,7.7-4.2,5.1c-1.5-2.4-0.6-5.3-3.8-6.3c-0.6-0.2-1.2,0.2-1.4,0.8c-1.1,3.1-2.2,6.1-3.3,9.2c-1.1-2.4-2.1-4.8-3.2-7.1
		c-0.3-0.6-1.3-0.6-1.6,0c-0.7,1.6-1.4,3.1-2,4.7c-0.5-0.5-1-1.1-1.5-1.7c-0.3-0.4-1-0.3-1.2,0.2c-0.7,1.5-1.6,2.9-2.7,4
		c-1.2-2.4-2.2-4.8-3.3-7.2c-0.3-0.8-1.7-0.8-2,0c-0.4,0.9-0.9,1.8-1.4,2.7c0.1-0.1-4.1,4.7-4.2,3c-0.2-2.9,1-6.3,1.4-9.2
		c0.1-0.8-0.5-1.9-1.5-1.5c-1.4,0.5-2.3,0.2-3.5-0.7C666.6,425.2,665.6,426.3,666.1,427.1z"/>
    <path class="st0" d="M662.3,427.7c5.9-3.9,9.3-10.3,11.4-16.9c1.1-3.4,1.6-7,1.7-10.6c0.1-2.7,0-6.4-1.9-8.5
		c-0.2-0.2-0.5-0.1-0.6,0.1c-1.1,2.2-0.8,5-1,7.4c-0.3,3.3-1,6.4-1.9,9.6c-1.8,6.5-5.7,12-9.1,17.6
		C660.5,427.2,661.5,428.3,662.3,427.7z"/>
    <path class="st2" d="M625.4,492.4c-7.1,2-15.6,5.8-21.1,10.7c-3.7,3.3,0.2,9.7,4.8,8.2c3.8-1.2,7.3-3.5,10.6-5.6
		c3.3-2.1,6.6-4.2,9.4-7C631.9,496.1,629,491.4,625.4,492.4z"/>
    <path class="st2" d="M656.8,515.8c-6.2,2.7-9.7,10.5-12.1,16.4c-2.5,6.4,8,9.4,10.3,2.9c1.9-5.2,5.7-9.7,7.3-15
		C663.4,516.6,659.6,514.6,656.8,515.8z"/>
    <path class="st2" d="M700.8,537.2c-1-3.1-1.6-6.2-2.3-9.4c-0.5-2-1.1-9.2-4.8-8.3c-4.2,1.1-3.8,7.7-3.8,11.1
		c-0.1,4.8,0.7,12.4,4.6,15.5c2.3,1.9,6.2,1.5,7-1.9C702.1,541.6,701.7,539.8,700.8,537.2z"/>
    <path class="st2" d="M745.9,515.3c-1.2-2.4-3.4-4.4-5-6.6c-1.6-2.1-3.3-4.5-5.4-6.2c-2.7-2.1-5.9-0.2-5.5,3.2
		c0.4,3,2.1,5.9,3.7,8.4c1.7,2.7,3.5,5.4,6.1,7.3C743.8,524.3,747.7,518.9,745.9,515.3z"/>
  </g>
</svg>


<div class="body-wrapper" style="width: 778px">
  <%= image_tag 'show-image_01.webp', id: "left-items" %>
  <div class="exam-show-items" id="right-items" style="width: 389px">
    <div class="content">
      <h2 class="column">授業名</h2>
      <%= @exam.class_name %>
    </div>
    <div class="content">
      <h2 class="column">授業のタイプ</h2>
      <%= @exam.class_type %>
      <p>(1:教養 2:専門 3:基礎専門 4:基礎 5:外国語 6:教職)</p>
    </div>
    <div class="content">
      <h2 class="column">感想</h2>
      <%= @exam.impression %>
    </div>
    <div class="content">
      <h2 class="column">内容</h2>
      <%= @exam.content %>
    </div>
    <div class="content">
      <h2 class="column">先生の名前</h2>
      <%= @exam.teacher_name %>
    </div>
    <div class="content">
      <h2 class="column">テストの日付</h2>
      <%= @exam.examdate %>
    </div>
    <div class="post-time content">
      <h2 class="column">投稿日時</h2>
      <%= @exam.created_at %>
    </div>
  </div>
</div>

